:root {
  --vt-white: #fbf1c7;
  --vt-white-soft: #ebdbb2;
  --vt-white-mute: #d5c4a1;

  --vt-black: #1d2021;
  --vt-black-soft: #282828;
  --vt-black-mute: #3c3836;

  --vt-primary: #458588;
  --vt-primary-soft: #83a598;

  --vt-secondary: #d79921;
  --vt-secondary-soft: #fabd2f;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-white);
  --color-text: var(--vt-black);
  --primary: var(--vt-primary-soft);
  --secondary: var(--vt-secondary-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-background: var(--vt-black);
  --color-text: var(--vt-white);
  --primary: var(--vt-primary);
  --secondary: var(--vt-secondary);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    'Roboto',
    'ShortStack-Regular',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
